@model SaltWaterTankMetricViewModel
@using SaltWaterTankMetrics.DataAccess.EF.Models
@{
    ViewData["Title"] = "SaltWater Tank Metrics Application";
}

<div class="row">
    <div class="col-md-10 offset-md-1">
        <table class="table">
            <tr>
                <th>ID</th>
                <th>Temperature</th>
                <th>pH</th>
                <th>Ammonia (NH3)</th>
                <th>Alkalinity (dKh)</th>
            </tr>

            @foreach (SaltWaterTankMetric metric in Model.MetricsList)
            {
                <tr>
                    <td>@metric.TankId</td>
                    <td>@metric.SaltWaterTemp</td>
                    <td>@metric.SaltWaterPh</td>
                    <td>@metric.SaltWaterNh3</td>
                    <td>@metric.SaltWaterDkh</td>
                </tr>
            }
        </table>
    </div>
</div>